{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><i class="fa fa-flask"></i> Data Master 2</li>
            <li class="active">Potongan Karyawan</li>
          </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-3">
                <p><h3 class="control-label">Potongan Karyawan</h3></p>
              </div>
          </div>                
      </div>

      <!-- <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <label class="control-label">Masa Tenggang Closing</label>               
            </div>
            <input type="hidden" id="idmas" name="idmas" />
            <div class="col-md-10">
              <p class="" id="textMas">  </p>
              
              <button class="btn btn-primary" id="pilihMasaTenggangClosing" data-toggle="modal" data-target="#pilihMasaTenggangClosingModal"><i class="fa fa-plus"></i> Pilih Masa Tenggang Closing</button> 
              </div>             
          </div>                
      </div> -->

      <div class="row">
          <div class="col-md-12">
              <div class="col-md-2">
                <p><h4 class="control-label">Proses Potongan</h4></p>
              </div>
          </div>                
      </div>
      
      <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <label class="control-label">List Karyawan</label>               
            </div>
            <input type="hidden" id="idKaryawan" name="idkaryawan" />
            <div class="col-md-10">
              <p class="" id="textKaraywan">  </p>
            
              <button class="btn btn-primary" id="pilihKaryawan" data-toggle="modal" data-target="#pilihKaryawanModal"><i class="fa fa-plus"></i> Pilih Karyawan</button> 
              <button class="btn btn-primary" id="bersih"><i class="fa fa-plus"></i> Clear</button>    
              </div>             
          </div>                
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="col-md-2">
                <p><h4 class="control-label">Data Potongan</h4></p>
              </div>
          </div>                
      </div>

      <div class="row">
          <div class="col-md-12"> 
            <div class="col-md-2">
              <label class="control-label pull-right">Pinjaman</label>
            </div> 
            <div class="col-md-2">
              <div class="form-group">
                  <input type="text" class="form-control" id="pinjaman" placeholder="Nilai Mata Uang /persentasi gapok" value="" />
                </div>
            </div>  
            <div class="col-md-2">
              <div class="form-group">
                  <input type="text" class="form-control" id="cicil_pinjaman" placeholder="Cicil Berapa Kali" value="" />
                </div>
            </div>
          </div>
          <<div class="col-md-12">
            <div class="col-md-2">
              <label class="control-label pull-right">Koperasi</label>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <input type="text" class="form-control" id="koperasi" placeholder="Nilai Mata Uang /persentasi gapok" value="" />
                </div>
            </div> 
          </div>
          <!-- <div class="col-md-12">
            <div class="col-md-2">
              <label class="control-label pull-right">BPJS</label>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <input type="text" class="form-control" id="bpjs" placeholder="Nilai Mata Uang /persentasi gapok" value="" />
                </div>
            </div> 
          </div> -->
          <input type="hidden" class="form-control" id="bpjs" placeholder="Nilai Mata Uang /persentasi gapok" value="" />
          <!-- <div class="col-md-12">
            <div class="col-md-2">
              <label class="control-label pull-right">Pajak Bulanan</label>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <input type="text" class="form-control" id="pajakbulanan" value="" />
                </div>
            </div> 
          </div> -->
          
          <div class="col-md-12">
            <div class="col-md-2">
              <div class="form-group pull-right">
                  <button class="btn btn-primary" id="tambahLembur"><i class="fa fa-plus"></i> Simpan</button> 
              </div> 
            </div>
          </div>         
      </div>

      <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" method="GET" action="{% url 'potongankaryawan-index' %}">
              <div class="form-group">
                <label for="pencarian" class="col-sm-2 control-label">Pencarian</label>
                <div class="col-sm-2">
                  <select class="form-control" name="search">
                  <option>Kategori</option>
                  <option value="nik">NIK</option>
                  <option value="name">Nama</option>
                </select>
                </div>
                <div class="input-group col-sm-4">
                  <input type="text" class="form-control" name="value">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-primary btn-flat">Search</button>
                    </span>
                </div>
              </div>              
            </form>              
          </div>                
      </div>
    
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th class="col-md-2">NIK</th>
                  <th class="col-md-3">Nama</th>
                  <!-- <th class="col-md-3">MasaTenggang</th> -->
                  <th class="col-md-2">Pinjaman</th>
                  <th class="col-md-2">Cicilan</th>
                  <th class="col-md-2">Koperasi</th>
                  <th class="col-md-2">Action</th>
                </tr>
                {% for d in pk %}
                <tr>
                  <td>{{ d.karyawan.NIK }}</td>
                  <td>{{ d.karyawan.name }}</td>
                  <!-- <td>{{ d.masatenggangclosing.tanggal|date:"d M Y" }} sd {{ d.masatenggangclosing.sd|date:"d M Y" }}</td> -->
                  <td>{{ d.pinjkaryawan }}</td>
                  <td>{{ d.cicil_pinjkaryawan }}</td>
                  <td>{{ d.koperasi }}</td>
                  <td>
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                      <a href="{% url 'potongan-edit' potongan_id=d.id %}" type="button" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                      <a data-confirm="Yakin mau Hapus data ???" href="{% url 'potongan-delete' potongan_id=d.id %}" type="button" class="btn btn-default"><i class="fa fa-trash"></i></a>
                    </div>                  
                  </td>
                </tr>
                {% endfor %}
            </tbody></table>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              {% if pk.has_other_pages %}
                <div class="col-md-12">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    {% if pk.has_previous %}
                      <li class="active"><a href="?page={{ pk.previous_page_number }}">PREV</a></li>
                    {% else %}
                      <li class="disabled"><a href="#">PREV</a></li>
                    {% endif %}

                    {% for i in pk.paginator.page_range %}
                      {% if pk.number == i %}
                        <li class="active"><a href="#">{{ i }}</a></li>
                      {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if pk.has_next %}
                      <li class="active"><a href="?page={{ pk.next_page_number }}">NEXT</a></li>
                    {% else %}
                      <li class="disabled"><a href="#">NEXT</a></li>
                    {% endif %}
                  </ul>
                </div>  
                {% endif %}  
            </div>
          </div>
    
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>

{% endblock %}

{% block footer %}
  {% include "include/base-modal.html" %}
  {% include "include/base-modal-masatenggangclosing.html" %}
{% endblock %}

{% block javascript %} 
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'dist/js/app.min.js' %}"></script>
  <!-- SlimScroll 1.3.0 -->
  <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
  <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
  <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>

  <script>
  $(function () {    

    //Date range picker
    $('#reservation').daterangepicker();

    $('#reservationKedua').daterangepicker();
        
    $.ajax({
        type: "GET",
        url: 'http://{{ request.get_host }}/index/api/karyawan',
        success: function(result) {
            $('#contentKaryawan').html(result);
      }
    });

    $('#bersih').on("click", function(){
        $('#textKaraywan').text("");
        $('#idKaryawan').val("");   
        $("#textMas").text("");
        $("#idmas").val("");
        $.ajax({
            type: "GET",
            url: 'http://{{ request.get_host }}/index/api/karyawan',
            success: function(result) {
                $('#contentKaryawan').html(result);
          }
        });  
    });

    $("#tambahLembur").on("click", function(){
        $.ajax({
        type: "POST",
        url: 'http://{{ request.get_host }}/index/api/potongan/save',
        data: { idkaryawan: $('#idKaryawan').val(), koperasi: $('#koperasi').val(), pinjaman: $('#pinjaman').val(), cicil_pinjaman: $('#cicil_pinjaman').val(),csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(result) {
            alert('Berhasil Tambah Potongan');
            location.reload();
        }});
    });

    $("#m-masatenggangclosing").on("change", function(){
        var masatenggangclosing = $("#m-masatenggangclosing option:selected").text() == "Masa Tenggang Closing" ? "": $("#m-masatenggangclosing option:selected").text();
        var mval = $("#m-masatenggangclosing option:selected").val() == "Masa Tenggang Closing" ? "": $("#m-masatenggangclosing option:selected").val();
        $("#textMas").text(masatenggangclosing);
        $("#idmas").val(mval);
    }); 

    $(document).on('click', ':not(form)[data-confirm]', function(e){
      if(!confirm($(this).data('confirm'))){
          e.stopImmediatePropagation();
          e.preventDefault();
      }
    });

  });
</script>
{% endblock %}