<table border=1>
	<tr>
		<td>No</td>
		<td>NIK</td>
		<td>Nama</td>
		<td>Departemen</td>
		<td>Bagian</td>
		<td>Golongan</td>
		<td>Gaji Pokok</td>
		<td>Tunjangan Makan</td>
		<td>Tunjangan Transportasi</td>
	</tr>
	{% for p in posting %}
	<tr>
		
			<td>{{ p.no }}</td>
			<td>{{ p.nik }}</td>
			<td>{{ p.nama }}</td>
			<td>{{ p.departemen }}</td>
			<td>{{ p.bagian }}</td>
			<td>{{ p.golongan }}</td>
			<td>{{ p.gajipokok }}</td>
			<td>{{ p.tmakan }}</td>
			<td>{{ p.transportnonexec }}</td>
		
	</tr>
	{% endfor %}
</table>