{% load dashboard %}

<table border=1>
	<tr>
		<td>No</td>
		<td>NIK</td>
		<td>Nama</td>
		<td>Departemen</td>
		<td>Bagian</td>
		<td>Jabatan</td>
		<td>No Rekening</td>
		<td>Gaji Pokok</td>
		<td>Tunjangan Makan</td>
		<td>Tunjangan Transportasi</td>
		<td>Tunjangan Overtime</td>
		<td>Potongan Pinjaman</td>
		<td>BPJS</td>
		<td>BPJS Kesehatan</td>
		<td>BPJS Ketenagakerjaan</td>
		<td>BPJS Bayar</td>
		<td>Potongan Absensi</td>
	</tr>
	{% for p in posting %}
	<tr>
		
			<td>{{ p.no }}</td>
			<td>{{ p.nik }}</td>
			<td>{{ p.nama }}</td>
			<td>{{ p.departemen }}</td>
			<td>{{ p.bagian }}</td>
			<td>{{ p.golongan }}</td>
			<td>{{ p.norek }}</td>
			<td>{{ p.gajipokok }}</td>
			<td>{{ p.tmakan }}</td>
			<td>{{ p.transportnonexec }}</td>
			<td>{{ p.tovertime }}</td>
			<td>{{ p.ppinjam }}</td>
			<td>{{ p.pbpjs }}</td>
			<td>{% bpjs_kes p.pbpjs|slugify  %}</td>	
			<td>{% bpjs_ket p.pbpjs|slugify  %}</td>
			<td>{% bpjs_bayar p.pbpjs|slugify %}</td>
			<td>{{ p.pabsen}}</td>		
		
	</tr>
	{% endfor %}
</table>