{% extends 'base.html' %}
{% load static %}

{% block content %}
		  <div class="content-wrapper">
		    <section class="content">
		      <!-- Info boxes -->
		      <div class="row">
		        <div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="info-box">
		            <span class="info-box-icon bg-aqua"><i class="fa fa-calendar-check-o"></i></span>

		            <div class="info-box-content">
		              <span class="info-box-text">ABSEN HARI INI</span>
		              <span class="info-box-number">{{ hariiniabsen }}</span>
		            </div>
		            <!-- /.info-box-content -->
		          </div>
		          <!-- /.info-box -->
		        </div>
		        <!-- /.col -->
		        <div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="info-box">
		            <span class="info-box-icon bg-red"><i class="fa fa-calendar"></i></span>

		            <div class="info-box-content">
		              <span class="info-box-text">ABSEN KEMARIN</span>
		              <span class="info-box-number">{{ banyakabsenkemaren }}</span>
		            </div>
		            <!-- /.info-box-content -->
		          </div>
		          <!-- /.info-box -->
		        </div>
		        <!-- /.col -->

		        <!-- fix for small devices only -->
		        <div class="clearfix visible-sm-block"></div>

		        <div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="info-box">
		            <span class="info-box-icon bg-green"><i class="fa fa-user-times"></i></span>

		            <div class="info-box-content">
		              <span class="info-box-text">KARYAWAN CUTI BULAN INI</span>
		              <span class="info-box-number">{{ banyakCuti }}</span>
		            </div>
		            <!-- /.info-box-content -->
		          </div>
		          <!-- /.info-box -->
		        </div>
		        <!-- /.col -->
		        <div class="col-md-3 col-sm-6 col-xs-12">
		          <div class="info-box">
		            <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

		            <div class="info-box-content">
		              <span class="info-box-text">BANYAK KARYAWAN</span>
		              <span class="info-box-number">{{banyakKaryawan}}</span>
		            </div>
		            <!-- /.info-box-content -->
		          </div>
		          <!-- /.info-box -->
		        </div>
		        <!-- /.col -->
		      </div>
		      <!-- /.row -->
		    <div class="row">
		      <div class="col-md-9">
		          <!-- AREA CHART -->
		          <div class="box box-info">
		            <div class="box-header with-border">
		              <i class="fa fa-bar-chart-o"></i>
		              <h3 class="box-title">Absensi Karyawan Setiap Bulan</h3>
		            </div>
		            <div class="box-body">
		              <div class="chart">
		                <canvas id="absensi-bulanan" style="height:250px"></canvas>
		              </div>
		            </div>
		            <!-- /.box-body -->
		          </div>
		          <!-- /.box -->
		      </div>
		      <div class="col-md-3">
		        <!-- Area chart -->
		          <div class="box box-success">
		            <div class="box-header with-border">
		              <i class="fa fa-bar-chart-o"></i>
		              <h3 class="box-title">Absensi Karyawan Cuti</h3>
		            </div>
		            <div class="box-body">
		              <div id="absensi-cuti" style="height: 120px;" class="full-width-chart"></div>
		            </div>
		            <!-- /.box-body-->
		          </div>
		          <!-- /.box -->
		      </div>
		      <div class="col-md-3">
		        <!-- Area chart -->
		          <div class="box box-warning">
		            <div class="box-header with-border">
		              <i class="fa fa-bar-chart-o"></i>
		              <h3 class="box-title">Absensi Karyawan Telat</h3>
		            </div>
		            <div class="box-body">
		              <div id="absensi-telat" style="height: 120px;" class="full-width-chart"></div>
		            </div>
		            <!-- /.box-body-->
		          </div>
		          <!-- /.box -->
		      </div>      
		    </div>

		    <div class="row">
		      <div class="col-md-12">
		          <div class="box box-info">
		            <div class="box-header with-border">
		              <i class="fa fa-table"></i>
		              <h3 class="box-title">Karyawan yang masa kontrak akan habis dalam waktu 7 hari lagi.</h3>
		            </div>
		            <div class="box-body">
		              <div class="col-md-3">
		                <div class="box-body table-responsive no-padding">
		                  <table class="table table-hover">
		                    <tbody><tr>
		                      <th class="col-md-2">NIK</th>
		                      <th class="col-md-8">Nama</th>
		                    </tr>
		                    {% for data in mauabis %}    
			                    <tr>
			                      <td>{{data.NIK}}</td>
			                      <td>{{data.name}}</td>
			                    </tr>
		                    {% endfor %}
		                    
		                  </tbody></table>
		                </div>
		              </div>
		              <div class="col-md-3">
		                <div class="box-body table-responsive no-padding">
		                  <table class="table table-hover">
		                    <tbody><tr>
		                      <th class="col-md-2">NIK</th>
		                      <th class="col-md-8">Nama</th>
		                    </tr>
		               
		                  </tbody></table>
		                </div>
		              </div>

		          
		            </div>
		            <!-- /.box-body-->
		            <div class="box-footer clearfix">
		              <ul class="pagination pagination-sm no-margin pull-right">
		                <li class="active"><a href="#">PREV</a></li>
		                <li><a href="#" >1</a></li>
		                <li class="active"><a href="#">2</a></li>
		                <li><a href="#">3</a></li>
		                <li><a href="#">4</a></li>
		                <li class="active"><a href="#">NEXT</a></li>
		              </ul>
		            </div>
		          </div>
		          <!-- /.box -->
		      </div>      
		    </div>

		    <div class="row">
		      <div class="col-md-6">

		        <div class="box box-danger">
		          <div class="box-header with-border">
		            <i class="fa fa-bar-chart-o"></i>
		            <h3 class="box-title">Absensi Kemarin</h3>
		          </div>
		          <!-- /.box-header -->
		          <div class="box-body">
		            <div class="row">
		              <div class="col-md-8">
		                <div class="chart-responsive">
		                  <canvas id="absensi-kemarin" height="250"></canvas>
		                </div>
		                <!-- ./chart-responsive -->
		              </div>
		              <!-- /.col -->
		              <div class="col-md-4">
		                <ul class="chart-legend clearfix">
		                  <li><i class="fa fa-circle-o text-red"></i> Cuti</li>
		                  <li><i class="fa fa-circle-o text-green"></i> Masuk</li>
		                  <li><i class="fa fa-circle-o text-yellow"></i> Telat</li>
		                </ul>
		              </div>
		              <!-- /.col -->
		            </div>
		            <!-- /.row -->
		          </div>
		          <!-- /.box-body -->
		        </div>
		        <!-- /.box -->

		      </div>
		      <div id="disatukan" class="col-md-6">
   		        <div class="col-md-12 col-sm-6 col-xs-12">
		          <div class="info-box">
		            <span class="info-box-icon bg-aqua"><i class="fa fa-calendar-check-o"></i></span>

		            <div class="info-box-content">
		              <span class="info-box-text">Data Terakhir kali di cek ke mesin </span>
		              <span class="info-box-number">{{ hariiniabsen }}</span>
		            </div>
		            <!-- /.info-box-content -->
		          </div>
		          <!-- /.info-box -->
		        </div>
		       </div>
		      <div id="disatukan" class="col-md-6">
			      <div id="ContentMesin">
			      	{% for xx in mesin %}
			      	<div class="col-md-6 col-sm-6 col-xs-12">
			          <div class="info-box">
			          	{% if xx.status == UP %}
			            	<span class="info-box-icon bg-green">
			            	<i class="fa fa-check"></i>
			           	{% else %}
			           		<span class="info-box-icon bg-red">
			           		<i class="fa fa-close"></i>
			           	{% endif %}
			            	
			           	</span>
			           		<div class="info-box-content">
			           			<span class="info-box-text">Mesin {{ xx.name }} is <strong>{{ xx.status }}</strong></span>
			           			<span class="info-box-number">IP : {{xx.ip}}:{{xx.port}}</span>
			           			<span class="info-box-text">Last Check {{ xx.last_check }} </span>
			           			<!-- <span class="info-box-text">Last UP {{ xx.last_up }} </span>
			           			<span class="info-box-text">Last Down {{ xx.last_down }} </span> --></div></div></div>
			       {% endfor %}
			      </div>
			      <div id="loading" style="position: absolute;margin: auto;top:40%;left:50%;">
			      		<img height=30 width=30 src='{% static '/images/loading.gif' %}' id='loading-indicator' />
			      		<p align="center" style="margin-top:5px;margin-left:-50px;"><strong>Cek koneksi ke mesin</strong></p>
			      </div>
			  </div>
		      

		    </div>

		    </section>
		  </div>
{% endblock %}

{% block footer %}
	<footer class="main-footer">
	    <!-- To the right -->
	    <div class="pull-right hidden-xs">
	      Anything you want
	    </div>
	    <!-- Default to the left -->
	    <strong>Copyright &copy; 2017 <a href="#">Company</a>.</strong> All rights reserved.
  	</footer>
{% endblock %}

{% block javascript %}
<!-- jQuery 2.2.3 -->
		<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
		<!-- Bootstrap 3.3.6 -->
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- AdminLTE App -->
		<script src="{% static 'dist/js/app.min.js' %}"></script>
		<!-- ChartJS 1.0.1 -->
		<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
		<!-- FastClick -->
		<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
		<!-- AdminLTE for demo purposes -->
		<script src="{% static 'dist/js/demo.js' %}"></script>
		<!-- FLOT CHARTS -->
		<script src="{% static 'plugins/flot/jquery.flot.min.js' %}"></script>
		<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
		<script src="{% static 'plugins/flot/jquery.flot.resize.min.js' %}"></script>
		<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
		<script src="{% static 'plugins/flot/jquery.flot.pie.min.js' %}"></script>
		<!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
		<script src="{% static 'plugins/flot/jquery.flot.categories.min.js' %}"></script>
		<!-- page script -->
		<script>
		  $(function () {
		  	$('#loading').hide();

		  	$.ajax({
		        type: "GET",
		        url: 'http://{{ request.get_host }}/index/api/machine/check',
	            beforeSend: function() {
	            	var wew = "";
	                $('#ContentMesin').css({'-webkit-filter': 'blur(5px)', '-moz-filter' : 'blur(5px)', '-o-filter': 'blur(5px)', '-ms-filter': 'blur(5px)', 'filter': 'blur(5px)', 'background' : 'url('});
	                $('#loading').show();
	            },
	            complete: function(){
	            	$('#ContentMesin').removeAttr( 'style' );
	            	$('#loading').hide();
	            },
		        success: function(result) {
		            var obj = JSON.parse(result);
		            var hasil = '';
		            for (var key in obj){
		            	hasil += '<div class="col-md-6 col-sm-6 col-xs-12"><div class="info-box">';
		            	console.log(obj[key].fields.name);

		            	if(obj[key].fields.status=='UP'){
		            		hasil += '<span class="info-box-icon bg-green"><i class="fa fa-check"></i>';
		            	}else{
		            		hasil += '<span class="info-box-icon bg-red"><i class="fa fa-close"></i>';
		            	}

		            	hasil += '</span><div class="info-box-content"><span class="info-box-text">Mesin ' + obj[key].fields.name + ' is <strong>' + obj[key].fields.status + '</strong></span><span class="info-box-number">IP : ' + obj[key].fields.ip + ':' + obj[key].fields.port + '</span><span class="info-box-text">Last Check ' + obj[key].fields.last_check + ' </span></div></div></div>';
		            }

		            $('#ContentMesin').html(hasil);
		      }
		    });
		    /* ChartJS
		     * -------
		     * Here we will create a few charts using ChartJS
		     */

		    //--------------
		    //- AREA CHART -
		    //--------------

		    // Get context with jQuery - using jQuery's .get() method.
		    var areaChartCanvas = $("#absensi-bulanan").get(0).getContext("2d");
		    // This will get the first returned node in the jQuery collection.
		    var areaChart = new Chart(areaChartCanvas);

		    var areaChartData = {
		      labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
		      datasets: [
		        {
		          label: "Pegawai",
		          fillColor: "rgba(60,141,188,0.9)",
		          strokeColor: "rgba(60,141,188,0.8)",
		          pointColor: "#3b8bba",
		          pointStrokeColor: "rgba(60,141,188,1)",
		          pointHighlightFill: "#fff",
		          pointHighlightStroke: "rgba(60,141,188,1)",
		          data: [{{ bulanabsen }}]
		        }
		      ]
		    };

		    var areaChartOptions = {
		      //Boolean - If we should show the scale at all
		      showScale: true,
		      //Boolean - Whether grid lines are shown across the chart
		      scaleShowGridLines: false,
		      //String - Colour of the grid lines
		      scaleGridLineColor: "rgba(0,0,0,.05)",
		      //Number - Width of the grid lines
		      scaleGridLineWidth: 1,
		      //Boolean - Whether to show horizontal lines (except X axis)
		      scaleShowHorizontalLines: true,
		      //Boolean - Whether to show vertical lines (except Y axis)
		      scaleShowVerticalLines: true,
		      //Boolean - Whether the line is curved between points
		      bezierCurve: true,
		      //Number - Tension of the bezier curve between points
		      bezierCurveTension: 0.3,
		      //Boolean - Whether to show a dot for each point
		      pointDot: false,
		      //Number - Radius of each point dot in pixels
		      pointDotRadius: 4,
		      //Number - Pixel width of point dot stroke
		      pointDotStrokeWidth: 1,
		      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
		      pointHitDetectionRadius: 20,
		      //Boolean - Whether to show a stroke for datasets
		      datasetStroke: true,
		      //Number - Pixel width of dataset stroke
		      datasetStrokeWidth: 2,
		      //Boolean - Whether to fill the dataset with a color
		      datasetFill: true,
		      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
		      maintainAspectRatio: true,
		      //Boolean - whether to make the chart responsive to window resizing
		      responsive: true
		    };

		    //Create the line chart
		    areaChart.Line(areaChartData, areaChartOptions);




		    /*
		     * FULL WIDTH STATIC AREA CHART
		     * -----------------
		     */
		    var areaData = [{{ bulancuti }}];
		    $.plot("#absensi-cuti", [areaData], {
		      grid: {
		        borderWidth: 0
		      },
		      series: {
		        shadowSize: 0, // Drawing is faster without shadows
		        color: "#00a65a"
		      },
		      lines: {
		        fill: true //Converts the line chart to area chart
		      },
		      yaxis: {
		        show: false
		      },
		      xaxis: {
		        show: false
		      }
		    });

		    /* END AREA CHART */
		    /*
		     * FULL WIDTH STATIC AREA CHART
		     * -----------------
		     */
		    var areaData = [[2, 88.0], [3, 93.3], [4, 102.0], [5, 108.5], [6, 115.7], [7, 115.6],
		      [8, 124.6], [9, 130.3], [10, 134.3], [11, 141.4], [12, 146.5], [13, 151.7], [14, 159.9],
		      [15, 165.4], [16, 167.8], [17, 168.7], [18, 169.5], [19, 168.0]];
		    $.plot("#absensi-telat", [areaData], {
		      grid: {
		        borderWidth: 0
		      },
		      series: {
		        shadowSize: 0, // Drawing is faster without shadows
		        color: "#f39c12"
		      },
		      lines: {
		        fill: true //Converts the line chart to area chart
		      },
		      yaxis: {
		        show: false
		      },
		      xaxis: {
		        show: false
		      }
		    });

		    /* END AREA CHART */

		    //-------------
		    //- PIE CHART -
		    //-------------
		    // Get context with jQuery - using jQuery's .get() method.
		    var pieChartCanvas = $("#absensi-kemarin").get(0).getContext("2d");
		    var pieChart = new Chart(pieChartCanvas);
		    var PieData = [
		      {
		        value: {{banyakCuti}},
		        color: "#f56954",
		        highlight: "#f56954",
		        label: "Cuti"
		      },
		      {
		        value: {{banyakmasuk}},
		        color: "#00a65a",
		        highlight: "#00a65a",
		        label: "Masuk"
		      },
		      {
		        value: {{banyaktelat}},
		        color: "#f39c12",
		        highlight: "#f39c12",
		        label: "Telat"
		      }
		    ];
		    var pieOptions = {
		      //Boolean - Whether we should show a stroke on each segment
		      segmentShowStroke: true,
		      //String - The colour of each segment stroke
		      segmentStrokeColor: "#fff",
		      //Number - The width of each segment stroke
		      segmentStrokeWidth: 2,
		      //Number - The percentage of the chart that we cut out of the middle
		      percentageInnerCutout: 50, // This is 0 for Pie charts
		      //Number - Amount of animation steps
		      animationSteps: 100,
		      //String - Animation easing effect
		      animationEasing: "easeOutBounce",
		      //Boolean - Whether we animate the rotation of the Doughnut
		      animateRotate: true,
		      //Boolean - Whether we animate scaling the Doughnut from the centre
		      animateScale: false,
		      //Boolean - whether to make the chart responsive to window resizing
		      responsive: true,
		      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
		      maintainAspectRatio: true,
		      
		    };
		    //Create pie or douhnut chart
		    // You can switch between pie and douhnut using the method below.
		    pieChart.Doughnut(PieData, pieOptions);

		    });
		  </script>
{% endblock %}