{% extends 'base.html' %}
{% load static %}

{% block content %} 
	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><i class="fa fa-flask"></i> Data Master 1</li>
            <li class="active">Status Menikah</li>
          </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-4">
                <p><h3 class="control-label">Data Master Status Menikah</h3></p>
              </div>
          </div>                
      </div>
      <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="pencarian" class="col-sm-2 control-label">Pencarian</label>
                <div class="col-sm-2">
                  <select class="form-control">
                  <option>Kategori</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                </div>
                <div class="input-group col-sm-4">
                  <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary btn-flat">Search</button>
                    </span>
                </div>
              </div>              
            </form>              
          </div>                
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th class="col-md-1">#</th>
                  <th class="col-md-2">Nama</th>
                  <th class="col-md-2">Deskripsi</th>
                  <th class="col-md-1">Action</th>
                </tr>
                {% for data in statusmenikah %}
                <tr>
                  <td>{{ data.id }}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.desc }}</td>
                  <td>
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                      <a href="{% url 'statusmenikah-delete' statusmenikah_id=data.id %}" class="btn btn-default"><i class="fa fa-trash"></i></a>
                      <a  href="{% url 'statusmenikah-edit' statusmenikah_id=data.id  %}" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                    </div>                  
                  </td>
                </tr>
                {% endfor %}
              </tbody></table>

            </div>
            
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <button class="btn btn-primary"><i class="fa fa-plus"></i> Tambah Status Menikah</button> 
                  </div>
                </div> 
                <div class="col-md-4 col-md-offset-4">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li class="active"><a href="#">PREV</a></li>
                    <li><a href="#" >1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="active"><a href="#">NEXT</a></li>
                  </ul>
                </div>               
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block footer %}
	<footer class="main-footer">
	    <!-- To the right -->
	    <div class="pull-right hidden-xs">
	      Anything you want
	    </div>
	    <!-- Default to the left -->
	    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  	</footer>
{% endblock %}

{% block javascript %} 
	<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- AdminLTE App -->
	<script src="{% static 'dist/js/app.min.js' %}"></script>
	<!-- SlimScroll 1.3.0 -->
	<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
	<script>

	</script>
{% endblock %}