{% extends 'base.html' %}
{% load static %}
{% load hari %}

{% block content %}
	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><i class="fa fa-flask"></i> Data Master</li>
            <li class="active">Karyawan</li>
          </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                    <h3 class="box-title">Detail Karyawan {{ karyawan.name }} </h3> 
                    <a style="align-left: 50px;" href="{% url 'karyawan-edit' karyawan_id=karyawan.id %}" class="text-right"><i class="fa fa-pencil"></i>( Ubah Data )</a>
                
              </div>
              <div class="box-body">
                <div class="col-md-2">
                  <p class="text-right">NIK</p>
                </div>
                <div class="col-md-10">
                  <p>{{ karyawan.NIK }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Nama Lengkap</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.name }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Jenis Kelamin</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.gender }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Tempat Tanggal Lahir</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.tempatlahir }}, {{ karyawan.tanggallahir|date:"d-M-Y"}}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Alamat Tinggal</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.alamat }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Provinsi</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.provinsi }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Kota</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.kota }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Nomor Kontak</p>
                </div>
                <div class="col-md-10">
                  <p>Telepon {{ karyawan.telepon }}</p>
                  <p>Handphone {{ karyawan.handphone }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Status Karyawan</p>
                </div>
                <div class="col-md-10">
                  <p>{{ karyawan.statuskaryawan }} s.d. {{ karyawan.masakaryawan }}</p>
                </div>

                <div class="col-md-2">
                  <p class="text-right">KTP</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.ktpid }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Agama</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.agama.name }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right"></p>
                </div>
                <div class="col-md-4">
                  <p>Warga Negara {{ karyawan.warganegara }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Status Menikah</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.statusmenikah }}</p>
                </div>

                <div class="col-md-2">
                  <p class="text-right">Bank</p>
                </div>
                <div class="col-md-10">
                  <p>{{ karyawan.bank.name }} &nbsp;&nbsp; a.n. &nbsp;  {{ karyawan.atasnama }} &nbsp;&nbsp;No. Rek. {{ karyawan.norek }} </p>
                </div>

                <div class="col-md-2">
                  <p class="text-right">Finger ID</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.fingerid }}</p>
                </div>

                <!-- <div class="col-md-2">
                  <p class="text-right">Link Acc</p>
                </div>
                <div class="col-md-4">
                  <p>---</p>
                </div> -->

                <!-- <div class="col-md-2">
                  <p class="text-right">Status Jamsostek</p>
                </div>
                <div class="col-md-4">
                  <p>Aktif</p>
                </div> -->
                <!-- <div class="col-md-2">
                  <p class="text-right">Ketegori Group</p>
                </div>
                <div class="col-md-4">
                  <p>---</p>
                </div> -->

                <div class="col-md-2">
                  <p class="text-right">NPWP</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.NPWP }} </p>
                </div>
                <!-- <div class="col-md-2">
                  <p class="text-right">Level</p>
                </div>
                <div class="col-md-4">
                  <p>---</p>
                </div> -->

                <div class="col-md-2">
                  <p class="text-right">KPJ</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.KPJ }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Jumlah Hari</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.jumlahhari }} Hari</p>
                </div>

                <div class="col-md-2">
                  <p class="text-right">Perusahaan</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.perusahaan.name }}</p>
                </div>
                <!-- <div class="col-md-2">
                  <p class="text-right">Lokasi</p>
                </div>
                <div class="col-md-4">
                  <p>Jalan Sumbawa no 192/123 Kec. Ringring Kel. Baracuda, Karawang, Jawa Barat</p>
                </div> -->

                <div class="col-md-2">
                  <p class="text-right">Departemen</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.departemen.name }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Jabatan</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.jabatan.name }}</p>
                </div>

                <div class="col-md-2">
                  <p class="text-right">Bagian</p>
                </div>
                <div class="col-md-4">
                  <p>{{ karyawan.bagian.name }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right">Golongan</p>
                </div>
                <div class="col-md-10">
                  <p>{{ karyawan.golongan.name }}</p>
                </div>

                <!-- <div class="col-md-2">
                  <p class="text-right">Jabatan</p>
                </div>
                <div class="col-md-10">
                  <p>Nama jabatan lengkap</p>
                </div> -->
                <div class="col-md-2">
                  <p class="text-right">Item Gaji</p>
                </div>
                <div class="col-md-1">
                  <p>Gaji Pokok</p>
                </div>
                <div class="col-md-8">
                  <p>Rp. {{ gajipokok.gajipokok }}</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right"></p>
                </div>
                <div class="col-md-1">
                  <p>Makan</p>
                </div>
                <div class="col-md-8">
                  <p>Rp. {{ gajipokok.tmakan }} / hari</p>
                </div>
                <div class="col-md-2">
                  <p class="text-right"></p>
                </div>
                <div class="col-md-1">
                  <p>Transportasi</p>
                </div>
                <div class="col-md-8">
                  <p>Rp. {{ gajipokok.transportnonexec }} / hari</p>
                </div>

                <div class="col-md-2">
                  <p class="text-right">Barang Pinjaman</p>
                </div>
                <div class="col-md-8">
                {% for p in pinjaman %}                  
                    <p> {{ p.inventory.name }} </p>
                {% endfor %}
                </div>

                <!-- <div class="col-md-2">
                  <p class="text-right"></p>
                </div>
                <div class="col-md-2">
                  <p>Gaji Jabatan</p>
                </div>
                <div class="col-md-8">
                  <p>Rp. 500.000</p>
                </div>

                <div class="col-md-2">
                  <p class="text-right"></p>
                </div>
                <div class="col-md-2">
                  <p>THR</p>
                </div>
                <div class="col-md-8">
                  <p>Tergantung Kebijakan</p>
                </div>

                <div class="col-md-2">
                  <p class="text-right"></p>
                </div>
                <div class="col-md-2">
                  <p>Kesehatan</p>
                </div>
                <div class="col-md-8">
                  <p>BPJS</p>
                </div>                

                <div class="col-md-2">
                  <p class="text-right"></p>
                </div>
                <div class="col-md-2">
                  <p>Absen</p>
                </div>
                <div class="col-md-8">
                  <p>Rp. 150.000 / bulan</p>
                </div> -->


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                          <p><h4 class="control-label">Summary Absensi</h4></p>
                        </div>
                    </div>                
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="box">
                      <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                          <tbody><tr>
                            <th class="">Tanggal</th>
                            <th class="">Jam Masuk</th>
                            <th class="">Jam Keluar</th>
                            <th class="">Status Lembur</th>
                            <th class="">Shift</th>
                            <th class="">Jam Masuk</th>
                            <th class="">Jam Keluar</th>
                            <th class="">Hari</th>
                          </tr>
                          {% for data in absen %}
                          <tr>
                            <td>{% hari data.hari %}, {{ data.tanggal|date:"d F Y" }}</td>
                            <td>{% plainwaktu data.masuk %} {% waktu data.masuk data.karyawanshift.shift.jammasuk True %}</td>
                            <td>{% plainwaktu data.keluar %} {% waktu data.keluar data.karyawanshift.shift.jamkeluar False %}</td>
                            <td>{% if data.SPL > 0 %} Ya ( {{ data.SPL_banyak }} Jam ) {% else %} Tidak {% endif %}</td>
                            <td>{{ data.karyawanshift.shift.name }}</td>
                            <td>{% plainwaktu data.karyawanshift.shift.jammasuk %}</td>
                            <td>{% plainwaktu data.karyawanshift.shift.jamkeluar %}</td>
                            <td>{{ data.karyawanshift.shift.hari }}</td>
                          </tr>
                          {% endfor %}
                        </tbody></table>

                      </div>
                      
                    </div>
                    <!-- /.box -->
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block javascript %} 
	<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- AdminLTE App -->
	<script src="{% static 'dist/js/app.min.js' %}"></script>
	<!-- SlimScroll 1.3.0 -->
	<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
{% endblock %}