{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><i class="fa fa-flask"></i> Data Master</li>
            <li class="active">Karyawan</li>
          </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Tambah Karyawan Baru</h3>
              </div>
              <form method="POST" action="{% url 'karyawan-create-save' %}" id="tambahkaryawan">
              {% csrf_token %}
              <div class="box-body">
                <div class="col-md-6 border-right">
                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">NIK</p>
                    </div>
                    <div class="form-group col-md-10">
                      <div class="col-md-6">
                        <input type="text" class="form-control NIK" placeholder="Nomor Induk Kepegawaian" name="NIK">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Nama Lengkap</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control nama1" placeholder="Nama Depan" name="nama1">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control nama2" placeholder="Nama Belakang" name="nama2">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Jenis Kelamin</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control gender" name="gender">
                          <option>Laki-laki</option>
                          <option>Perempuan</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Tempat Tanggal Lahir</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control tempatlahir" placeholder="Kota Lahir" name="tempatlahir">
                      </div>
                      <div class="form-group col-md-6 date">
                        <input type="text" class="form-control tanggallahir" id="datepicker" placeholder="Tanggal Lahir" name="tanggallahir">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Alamat Tinggal</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <textarea class="form-control alamat" placeholder="Alamat Lengkap" name="alamat"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Kota</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control kota" placeholder="Kota" name="kota">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Provinsi</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control provinsi" placeholder="Provinsi" name="provinsi">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Nomor Kontak</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control telepon" placeholder="Telepon" name="telepon">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control handphone" placeholder="Handphone" name="handphone">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Status Karyawan</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control statuskaryawan" name="statuskaryawan">
                          <option value="Kontrak 1 (PKWT)">Kontrak 1 (PKWT)</option>
                          <option value="Kontrak 2 (PKWTT)">Kontrak 2 (PKWTT)</option>
                          <option value="Probation">Probation</option>
                          <option value="Permanent">Permanent</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6 date">
                        <input type="text" class="form-control masakaryawan" id="datepicker2" placeholder="Berlaku Sampai" name="masakaryawan">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">KTP</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control ktp" placeholder="ID KTP" name="ktp">
                      </div>
                      <div class="form-group col-md-6 ">
                        <select class="form-control warganegara" name="warganegara">
                          <option>Warga Negara</option>
                          {% for wg in warganegara %}
                            <option value="{{wg.id}}">{{wg.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <select class="form-control agama" name="agama">
                          <option>Agama</option>
                          {% for ag in agama %}
                            <option value="{{ag.id}}">{{ag.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <select class="form-control statusmenikah" name="statusmenikah">
                          <option>Status Menikah</option>
                          {% for sm in statusmenikah %}
                            <option value="{{sm.id}}">{{sm.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Bank</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control bank" name="bank">
                          <option>Nama Bank</option>
                          {% for bk in bank %}
                            <option value="{{bk.id}}">{{bk.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control norekening" placeholder="No Rekening" name="norekening">
                      </div>
                      <div class="form-group col-md-12">
                        <input type="text" class="form-control atasnama" placeholder="Rekening Atas Nama" name="atasnama">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Finger ID</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control fingerid" placeholder="Finger ID" name="fingerid">
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-2 ">
                      <p class="text-right">Link Acc</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control">
                          <option>Link Acc</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Status Jamsostek</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control">
                          <option>Status Jamsostek</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row"> 
                    <div class="col-md-2">
                      <p class="text-right">Ketegori Group</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control">
                          <option>Ketegori Group</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->

                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">NPWP</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control NPWP" placeholder="NPWP" name="NPWP">
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Level</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control">
                          <option>Level</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">KPJ</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control KPJ" placeholder="KPJ" name="KPJ">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 ">
                      <p class="text-right">Jumlah Hari</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control jumlahhari" name="jumlahhari">
                          <option>Jumlah Hari</option>
                          <option value="1">2</option>
                          <option value="1">3</option>
                          <option value="1">4</option>
                          <option value="1">5</option>
                          <option value="1">6</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Perusahaan</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control perusahaan" name="perusahaan">
                          <option>== Pilih Perusahaan ==</option>
                          {% for p in perusahaan %}
                            <option value="{{p.id}}">{{p.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <select class="form-control departemen" name="departemen">
                          <option>== Pilih Departemen ==</option>
                          {% for d in departemen %}
                            <option value="{{d.id}}">{{d.name}}</option>
                          {% endfor %}
                        </select>
                      </div>                      
                      <div class="form-group col-md-12">
                        <select class="form-control bagian" name="bagian">
                          <option>== Pilih Bagian ==</option>
                          {% for b in bagian %}
                            <option value="{{b.id}}">{{b.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <select class="form-control golongan" name="golongan">
                          <option>== Pilih Golongan ==</option>
                          {% for g in golongan %}
                            <option value="{{g.id}}">{{g.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <!-- <div class="form-group col-md-6">
                        <select class="form-control" name="jabatan">
                          <option>== Jabatan</option>
                          {% for j in jabatan %}
                            <option value="{{j.id}}">{{j.name}}</option>
                          {% endfor %}
                        </select>
                      </div> -->

                    </div>
                  </div>  
                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Gaji Pokok</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control gajipokok" placeholder="Rp. Gaji Pokok" name="gajipokok">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 text-right">
                    <div class="form-group">
                        <button class="btn btn-primary simpanKaryawan" type="button" id="simpantambah"><i class="fa fa-plus"></i> Simpan dan Tambah Karyawan Baru</button> 
                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Simpan</button> 
                    </div>
                  </div>        

                </div>
              </div>
              </form>
              <div class="box-footer clearfix">                
                
              </div>
            </div>
          </div>

      </div>
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block javascript %} 
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'dist/js/app.min.js' %}"></script>
  <!-- SlimScroll 1.3.0 -->
  <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
  <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
  <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>

  <script>
$(function () {

  $("#simpantambah").on("click", function(){
        $.ajax({
        type: "POST",
        url: 'http://{{ request.get_host }}/index/api/karyawan/create/save',
        data: {NIK: $('.NIK').val(), nama1: $('.nama1').val()
              ,nama2: $('.nama2').val(), tempatlahir: $('tempatlahir').val(), tanggallahir: $('.tanggallahir').val(), gender: $('.gender').find(":selected").val(), bagian: $('.bagian').val(),
              alamat: $('.alamat').val(), kota: $('.kota').val(), provinsi: $('.provinsi').val(),
              telepon: $('.telepon').val(), handphone: $('.handphone').val(), statuskaryawan: $('.statuskaryawan').find(":selected").val(),
              masakaryawan: $('.masakaryawan').val(), ktp: $('.ktp').val(), warganegara: $('.warganegara').find(":selected").val(),
              agama: $('.agama').find(":selected").val(),statusmenikah: $('.statusmenikah').find(":selected").val(),bank: $('.bank').find(":selected").val(),
              norekening: $('.norekening').val(),atasnama: $('.atasnama').val(),fingerid: $('.fingerid').val(),
              NPWP: $('.NPWP').val(),KPJ: $('.KPJ').val(),jumlahhari: $('.jumlahhari').find(":selected").val(),
              departemen: $('.departemen').find(":selected").val(),bagian: $('.bagian').find(":selected").val(),golongan: $('.golongan').find(":selected").val(),
              perusahaan: $('.perusahaan').find(":selected").val(),
              csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(result) {
            alert('Berhasil Simpan Karyawan Baru');
            $("#tambahkaryawan").trigger('reset');
        }
      });
    });

  $(".statuskaryawan").on("change", function(){
      if($('.statuskaryawan').find(":selected").val()=="Permanent"){
        $(".masakaryawan").hide();
      }else{
        $(".masakaryawan").show();
      }
  });
  
  $('#datepicker').datepicker({
    autoclose: true
  });
  $('#datepicker2').datepicker({
    autoclose: true
  });

  // $(".simpanKaryawan").on("click", function(){
  //       $.ajax({
  //       type: "POST",
  //       url: 'http://{{ request.get_host }}/index/api/karyawan/create/save',
  //       data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
  //       success: function(result) {
  //           alert('Berhasil Ubah Shift');
  //       }
  //     });
  //   });

});
</script>
{% endblock %}