{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><i class="fa fa-flask"></i> Data Master</li>
            <li class="active">Karyawan</li>
          </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Tambah Karyawan Baru</h3>
              </div>
              {% if mode == "Tambah" %}
                <form method="POST" action="{% url 'karyawan-create-save' %}" id="tambahkaryawan">
              {% else %}
                <form method="POST" action="{% url 'karyawan-edit-save' karyawan.id %}" id="tambahkaryawan">
              {% endif %}

              {% csrf_token %}
              <div class="box-body">
                <div class="col-md-6 border-right">
                  <!-- <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">NIK</p>
                    </div>
                    <div class="form-group col-md-10">
                      <div class="col-md-6">
                        <input type="text" value="{{karyawan.NIK}}" class="form-control NIK" placeholder="Nomor Induk Kepegawaian" name="NIK">
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Nama Lengkap</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                      
                        <input type="text" value="{{ karyawan.name }}" class="form-control nama1" placeholder="Nama Depan" name="nama1" required>
                      </div>
                      {% if mode == "Tambah" %}
                        <div class="form-group col-md-6">
                          <input type="text" class="form-control nama2" placeholder="Nama Belakang" name="nama2" required>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Jenis Kelamin</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control gender" name="gender" required>
                          <option value="Laki-Laki" {% if karyawan.gender == "Laki-Laki" %} selected {% endif %} >Laki-laki</option>
                          <option value="Perempuan" {% if karyawan.gender == "Perempuan" %} selected {% endif %}>Perempuan</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Tempat Tanggal Lahir</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" value="{{ karyawan.tempatlahir }}" class="form-control tempatlahir" placeholder="Kota Lahir" name="tempatlahir" required>
                      </div>
                      <div class="form-group col-md-6 date">
                        <input type="text" value="{{ karyawan.tanggallahir }}" class="form-control tanggallahir" id="datepicker" placeholder="Tanggal Lahir" name="tanggallahir">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Alamat Tinggal</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <textarea class="form-control alamat" placeholder="Alamat Lengkap" name="alamat" required>{{ karyawan.alamat }}</textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Kota</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" value="{{ karyawan.kota }}" class="form-control kota" placeholder="Kota" name="kota" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Provinsi</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" value="{{ karyawan.provinsi }}" class="form-control provinsi" placeholder="Provinsi" name="provinsi" required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Nomor Kontak</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" value="{{ karyawan.telepon }}" class="form-control telepon" placeholder="Telepon" name="telepon" >
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" value="{{ karyawan.handphone }}" class="form-control handphone" placeholder="Handphone" name="handphone" required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Tanggal Masuk</p>
                    </div>
                    <div class="col-md-10">
                      
                      <div class="form-group col-md-6 date">
                        <input type="text" class="form-control tanggalmasuk" id="datepicker5" placeholder="Tanggal Masuk" name="tanggalmasuk" value="{{ karyawan.tanggalmasuk }}" required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Status Karyawan</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control statuskaryawan" name="statuskaryawan" required>
                          <option value="Kontrak 1 (PKWT)" {% if karyawan.statuskaryawan == "Kontrak 1 (PKWT)" %} selected {% endif %}>Kontrak 1 (PKWT)</option>
                          <option value="Kontrak 2 (PKWT)" {% if karyawan.statuskaryawan == "Kontrak 2 (PKWT)" %} selected {% endif %}>Kontrak 2 (PKWT)</option>
                          <option value="Probation" {% if karyawan.statuskaryawan == "Probation" %} selected {% endif %}>Probation</option>
                          <option value="Permanent" {% if karyawan.statuskaryawan == "Permanent" %} selected {% endif %}>Permanent</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6 date">
                        <input type="text" class="form-control masakaryawan" id="datepicker2" placeholder="Berlaku Sampai" name="masakaryawan" value="{{ karyawan.masakaryawan }}" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">KTP</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control ktp" value="{{ karyawan.ktpid }}" placeholder="ID KTP" name="ktp">
                      </div>
                      <div class="form-group col-md-6 ">
                        <select class="form-control warganegara" name="warganegara" required>
                          <option>Warga Negara</option>
                          {% for wg in warganegara %}
                            <option value="{{wg.id}}" {% if wg.id == karyawan.warganegara_id %} selected {% endif %} >{{wg.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <select class="form-control agama" name="agama" required>
                          <option>Agama</option>
                          {% for ag in agama %}
                            <option value="{{ag.id}}" {% if ag.id == karyawan.agama_id %} selected {% endif %}>{{ag.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <select class="form-control statusmenikah" name="statusmenikah" required>
                          <option>Status Menikah</option>
                          {% for sm in statusmenikah %}
                            <option value="{{sm.id}}" {% if sm.id == karyawan.statusmenikah_id %} selected {% endif %}>{{sm.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Bank</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control bank" name="bank" required>
                          <option>Nama Bank</option>
                          {% for bk in bank %}
                            <option value="{{bk.id}}" {% if bk.id == karyawan.bank_id %} selected {% endif %}>{{bk.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control norekening" placeholder="No Rekening" name="norekening" value="{{ karyawan.norek }}" required>
                      </div>
                      <div class="form-group col-md-12">
                        <input type="text" value="{{ karyawan.atasnama }}" class="form-control atasnama" placeholder="Rekening Atas Nama" name="atasnama" required>
                      </div>
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Finger ID</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control fingerid" value="{{ karyawan.fingerid }} {{ idfinger }}" placeholder="Finger ID" name="fingerid" required>
                      </div>
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">NPWP</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control NPWP" value="{{ karyawan.NPWP }}" placeholder="NPWP" name="NPWP" required>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  
                  <!-- <div class="row">
                    <div class="col-md-2 ">
                      <p class="text-right">Link Acc</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control">
                          <option>Link Acc</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Status Jamsostek</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control">
                          <option>Status Jamsostek</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row"> 
                    <div class="col-md-2">
                      <p class="text-right">Ketegori Group</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control">
                          <option>Ketegori Group</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Level</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control">
                          <option>Level</option>
                          <option>2</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">KPJ</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control KPJ" value="{{ karyawan.KPJ }}" placeholder="KPJ" name="KPJ">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 ">
                      <p class="text-right">Jumlah Hari</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <select class="form-control jumlahhari" name="jumlahhari" required>
                          <option>Jumlah Hari</option>
                          <option value="2" {% if karyawan.jumlahhari == 2 %} selected {% endif %}>2</option>
                          <option value="3" {% if karyawan.jumlahhari == 3 %} selected {% endif %}>3</option>
                          <option value="4" {% if karyawan.jumlahhari == 4 %} selected {% endif %}>4</option>
                          <option value="5" {% if karyawan.jumlahhari == 5 %} selected {% endif %}>5</option>
                          <option value="6" {% if karyawan.jumlahhari == 6 %} selected {% endif %}>6</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <p class="text-right">Perusahaan</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-12">
                        <select class="form-control perusahaan" name="perusahaan" required>
                          <option>== Pilih Perusahaan ==</option>
                          {% for p in perusahaan %}
                            <option value="{{p.id}}" {% if karyawan.perusahaan_id == p.id %} selected {% endif %}>{{p.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <select class="form-control departemen" name="departemen" required>
                          <option>== Pilih Departemen ==</option>
                          {% for d in departemen %}
                            <option value="{{d.id}}" {% if karyawan.departemen_id == d.id %} selected {% endif %}>{{d.name}}</option>
                          {% endfor %}
                        </select>
                      </div>                      
                      <div class="form-group col-md-12">
                        <select class="form-control bagian" name="bagian" required>
                          <option>== Pilih Bagian ==</option>
                          {% for b in bagian %}
                            <option value="{{b.id}}" {% if karyawan.bagian_id == b.id %} selected {% endif %}>{{b.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group col-md-12">
                        <select class="form-control golongan" name="golongan" required>
                          <option>== Pilih Golongan ==</option>
                          {% for g in golongan %}
                            <option value="{{ g.id}}" {% if karyawan.golongan_id == g.id %} selected {% endif %}>{{g.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <!-- <div class="form-group col-md-6">
                        <select class="form-control" name="jabatan">
                          <option>== Jabatan</option>
                          {% for j in jabatan %}
                            <option value="{{j.id}}">{{j.name}}</option>
                          {% endfor %}
                        </select>
                      </div> -->

                    </div>
                  </div>  
                  <div class="row"> 
                    <div class="col-md-4">
                      <p class="text-right">Total Gaji</p>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control gajipokok" value="{{ totalgaji }}" placeholder="Rp. Gaji Pokok" name="gajipokok">
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row"> 
                    <div class="col-md-4">
                      <p class="text-right">Tunjangan Tetap (Jabatan) (25%)</p>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control jabatan" value="{{ gajipokok.jabatan }}" placeholder="Rp. Tunjangan Jabatan" name="jabatan">
                      </div>
                    </div>
                  </div> -->
                  
                  <div class="row"> 
                    <div class="col-md-4">
                      <p class="text-right">Tunjangan UMUT Lumpsum</p>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control umut" value="{{ gajipokok.umut }}" placeholder="Rp. Umut Lumpsum" name="umut">
                      </div>
                    </div>
                  </div>



                  <!-- <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Tunjangan Telefon</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control ttelepon" value="{{ gajipokok.ttelepon }}" placeholder="Rp. Tunjangan Telefon" name="ttelepon">
                      </div>
                    </div>
                  </div>

                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Tunjangan Makan</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control tmakan" value="{{ gajipokok.tmakan }}" placeholder="Rp. Tunjangan Telefon" name="tmakan">
                      </div>
                    </div>
                  </div>

                  <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Tunjangan Transport</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control ttransport" value="{{ gajipokok.ttransport }}" placeholder="Rp. Tunjangan Transport" name="ttransport">
                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="row"> 
                    <div class="col-md-2 ">
                      <p class="text-right">Bonus</p>
                    </div>
                    <div class="col-md-10">
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control bonus" value="{{ gajipokok.bonus }}" placeholder="Rp. Bonus" name="bonus">
                      </div>
                    </div>
                  </div> -->
                </div>
                  <div id="disatukan" class="col-md">
                    <h2><p>Status Mesin</p></h2>
                    <div id="ContentMesin">
                      {% for xx in mesin %}
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          {% if xx.status == UP %}
                              <div class="alert alert-success alert-message" role="alert">                              
                                <i class="fa fa-check"></i>
                          {% else %}
                              <div class="alert alert-danger alert-message" role="alert">
                                <i class="fa fa-close"></i>
                          {% endif %}
                              Mesin {{ xx.name }} is <strong>{{ xx.status }}</strong>
                              <!-- <span class="info-box-text">Last UP {{ xx.last_up }} </span>
                              <span class="info-box-text">Last Down {{ xx.last_down }} </span> --></div>
                        </div>
                     {% endfor %}
                    </div>
                    <div id="loading" style="position: absolute;margin: auto;top:40%;left:50%;">
                        <img height=30 width=30 src='{% static '/images/loading.gif' %}' id='loading-indicator' />
                        <p align="center" style="margin-top:5px;margin-left:-50px;"><strong>Cek koneksi ke mesin</strong></p>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-5 text-left">
                    <div class="form-group">
                        
                        <div class="col-md-1">
                          <button type="submit" class=" btn btn-primary"><i class="fa fa-plus"></i> Simpan</button> 
                        </div>

                        <div class="col-md-1" style="margin-right:10px;"></div>
                        
                        <div class="col-md-1">
                        {% if mode == "Tambah" %} 
                          <button class="btn btn-primary simpanKaryawan" type="button" id="simpantambah"><i class="fa fa-plus"></i> Simpan dan Tambah Karyawan Baru</button> 
                        {% endif %}
                        </div>
                        
                    </div>
                  </div>        

                </div>
              </div>
              </form>
              <div class="box-footer clearfix">                
                
              </div>
            </div>
          </div>

      </div>
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block javascript %} 
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'dist/js/app.min.js' %}"></script>
  <!-- SlimScroll 1.3.0 -->
  <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
  <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
  <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>

  <script>
$(function () {

  $('#loading').hide();

  $.ajax({
      type: "GET",
      url: 'http://{{ request.get_host }}/index/api/machine/check',
        beforeSend: function() {
          var wew = "";
            $('#ContentMesin').css({'-webkit-filter': 'blur(5px)', '-moz-filter' : 'blur(5px)', '-o-filter': 'blur(5px)', '-ms-filter': 'blur(5px)', 'filter': 'blur(5px)', 'background' : 'url('});
            $('#loading').show();
        },
        complete: function(){
          $('#ContentMesin').removeAttr( 'style' );
          $('#loading').hide();
        },
      success: function(result) {
          var obj = JSON.parse(result);
          var hasil = '<div class="col-md-3 col-sm-3 col-xs-12">';
          for (var key in obj){
            hasil += '';
            console.log(obj[key].fields.name);

            if(obj[key].fields.status=='UP'){
              hasil += '<div class="alert alert-success alert-message" role="alert"> <i class="fa fa-check"></i>';
            }else{
              hasil += '<div class="alert alert-danger alert-message" role="alert"> <i class="fa fa-close"></i>';
            }

            hasil += '&nbsp;&nbsp;Mesin ' + obj[key].fields.name + ' is <strong>' + obj[key].fields.status + '</strong> </div>';
          }

          $('#ContentMesin').html(hasil);
    }
  });

  $("#simpantambah").on("click", function(){
        $.ajax({
        type: "POST",
        url: 'http://{{ request.get_host }}/index/api/karyawan/create/save',
        data: {NIK: $('.NIK').val(), nama1: $('.nama1').val()
              ,nama2: $('.nama2').val(), tempatlahir: $('.tempatlahir').val(), tanggallahir: $('.tanggallahir').val(), gender: $('.gender').find(":selected").val(), bagian: $('.bagian').val(),
              alamat: $('.alamat').val(), kota: $('.kota').val(), provinsi: $('.provinsi').val(),
              telepon: $('.telepon').val(), handphone: $('.handphone').val(), statuskaryawan: $('.statuskaryawan').find(":selected").val(),
              tanggalmasuk: $('.tanggalmasuk').val(),
              masakaryawan: $('.masakaryawan').val(), ktp: $('.ktp').val(), warganegara: $('.warganegara').find(":selected").val(),
              agama: $('.agama').find(":selected").val(),statusmenikah: $('.statusmenikah').find(":selected").val(),bank: $('.bank').find(":selected").val(),
              norekening: $('.norekening').val(),atasnama: $('.atasnama').val(),fingerid: $('.fingerid').val(),
              NPWP: $('.NPWP').val(),KPJ: $('.KPJ').val(),jumlahhari: $('.jumlahhari').find(":selected").val(),
              departemen: $('.departemen').find(":selected").val(),bagian: $('.bagian').find(":selected").val(),golongan: $('.golongan').find(":selected").val(),
              perusahaan: $('.perusahaan').find(":selected").val(), gajipokok: $('.gajipokok').val(), umut: $('.umut').val(),
              ttelepon: $('.ttelepon').val(), tmakan: $('.tmakan').val(), ttransport: $('.ttransport').val(), bonus: $('.bonus').val(),
              csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(result) {
            alert('Berhasil Simpan Karyawan Baru');
            $("#tambahkaryawan").trigger('reset');
        }
      });
    });

  $(".statuskaryawan").on("change", function(){
      if($('.statuskaryawan').find(":selected").val()=="Permanent"){
        $(".masakaryawan").hide();
      }else{
        $(".masakaryawan").show();
      }
  });
  
  $('#datepicker').datepicker({
    autoclose: true
  });
  $('#datepicker2').datepicker({
    autoclose: true
  });

  $('#datepicker5').datepicker({
    autoclose: true
  });

  // $(".simpanKaryawan").on("click", function(){
  //       $.ajax({
  //       type: "POST",
  //       url: 'http://{{ request.get_host }}/index/api/karyawan/create/save',
  //       data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
  //       success: function(result) {
  //           alert('Berhasil Ubah Shift');
  //       }
  //     });
  //   });

});
</script>
{% endblock %}