<footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Anything you want
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
    </footer>

    <div class="modal fade" id="pilihKaryawanModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Pilih Karyawan</h3>
          <small>Pilih karyawan terlebih dahulu untuk menambahkan atau mengubah Absensi</small>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="pencarian" class="col-sm-2 control-label">Pencarian</label>
                    <div class="col-md-5">
                      <select class="form-control" id="perusahaan">
                      <option value="">Perusahaan</option>
                      {% for per in perusahaan %}
                        <option value="{{per.id}}">{{ per.name }}</option>
                      {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-5">
                      <select class="form-control" id="departemen">
                      <option value="">Departemen</option>
                      {% for dp in departemen %}
                        <option value="{{dp.id}}">{{ dp.name }}</option>
                      {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                      <select class="form-control" id="bagian">
                      <option value="">Bagian</option>
                      {% for bg in bagian %}
                        <option value="{{bg.id}}">{{ bg.name }}</option>
                      {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-5">
                      <select class="form-control" id="golongan">
                      <option value="">Golongan</option>
                      {% for gl in golongan %}
                        <option value="{{gl.id}}">{{ gl.name }}</option>
                      {% endfor %}
                    </select>
                    </div>                    
                  </div>              
                </form>              
              </div>  

              <div class="col-md-12">
                    <label for="pencarian" class="col-sm-2 control-label">NIK</label>
                    <div class="input-group col-sm-8" style="align-top:10px;">
                      <input placeholder="NIK" type="text" class="form-control" id="nik">
                    </div>
                    <label for="nama" class="col-sm-2 control-label">Nama</label>
                    <div class="input-group col-sm-8">
                      <input placeholder="Nama" type="text" class="form-control" id="name">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-primary btn-flat" id="caripaketext">Search</button>
                          <button type="button" class="btn btn-primary btn-flat" id="diulang">Reset</button>
                        </span>
                    </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-5">
                    <input type="checkbox" id="allkaryawan" /> &nbsp; Pilih Semua Karyawan

                </div>
              </div>
          </div>

          <div class="row" style="padding-top : 10px">
            <div class="col-xs-12">
              <div class="box" id="contentKaryawan">
                
              </div>
              <!-- /.box -->
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Simpan</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->