{% extends 'base.html' %}
{% load static %}
{% load form %}

{% block content %} 
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div>
          <ol class="breadcrumb">
            <li><a href="/index"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><i class="fa fa-flask"></i> Data Master 1</li>
            <li><i class="fa fa-flask"></i> <a href="#" onclick="history.back()">{{ module }}</a></li>
            <li class="active">{{ mode }} {{ module }}</li>
          </ol>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">{{ mode }} {{ module }} Baru</h3>
              </div>
                <form method="post" action="{% form module mode idpk %}" >
            {% csrf_token %}
              <div class="box-body">
                <div class="row"> 
                  <div class="col-md-2 ">
                    <p class="text-right">Nama {{ module }}</p>
                  </div>
                  <div class="col-md-10">
                    <div class="form-group col-md-5">
                      <input type="text" class="form-control" placeholder="Nama {{ module }}" name="name" value="{{ data.name }}">
                    </div>
                  </div>
                </div>
                {% for fill in exfield %}
                 <div class="row"> 
                  <div class="col-md-2 ">
                    <p class="text-right">{{ fill.label }}</p>
                  </div>
                  <div class="col-md-10">
                    <div class="form-group col-md-5">
                      <input type="{{fill.type}}" class="form-control" placeholder="{{ fill.placeholder }}" name="{{ fill.name }}" value="{{ fill.data }}">
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="row"> 
                  <div class="col-md-2 ">
                    <p class="text-right">Deskripsi</p>
                  </div>
                  <div class="col-md-10">
                    <div class="form-group col-md-12">
                      <textarea class="form-control" placeholder="Deskripsi" rows="3" name="desc">{{ data.desc }}</textarea>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="box-footer clearfix">                
                <div class="row">
                  <div class="col-md-4 col-md-offset-8">
                    <div class="form-group">
                        {% if mode == "Tambah" %}
                          <button class="btn btn-primary"><i class="fa fa-plus"></i> Simpan dan Tambah {{ module }} Baru</button> 
                        {% endif %}
                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Simpan </button> 
                    </div>
                  </div>               
                </div>
              </div>
            </form>
            </div>
          </div>

      </div>
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>

{% endblock %}

{% block footer %}
  <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Anything you want
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
    </footer>
{% endblock %}

{% block javascript %} 
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'dist/js/app.min.js' %}"></script>
  <!-- SlimScroll 1.3.0 -->
  <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
  <script>

  </script>
{% endblock %}