{% load static %}
{% load sidebar %}

		<header class="main-header">
		    <a href="/index" class="logo">
		      <!-- mini logo for sidebar mini 50x50 pixels -->
		      <span class="logo-mini"><b>ME Payroll</b></span>
		      <!-- logo for regular state and mobile devices -->
		      <span class="logo-lg"><b>ME Payroll</b></span>
		    </a>

		    <!-- Header Navbar -->
		    <nav class="navbar navbar-static-top" role="navigation">
		      <!-- Sidebar toggle button-->
		      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		        <span class="sr-only">Toggle navigation</span>
		      </a>
		      <!-- Navbar Right Menu -->
		      <div class="navbar-custom-menu">
		        <ul class="nav navbar-nav">          
		          <li>
		            <a href="#"><i class="fa fa-gear"></i></a>
		          </li>
		          <li>
		            <a href="#"><i class="fa fa-sign-out"></i></a>
		          </li>
		        </ul>
		      </div>
		    </nav>
		 </header>
		 <aside class="main-sidebar">

		    <!-- sidebar: style can be found in sidebar.less -->
		    <section class="sidebar">

		      <!-- Sidebar user panel (optional) -->
		      <div class="user-panel">
		        <div class="pull-left image">
		          <img src="{% static 'dist/img/a' %}" class="img-circle" alt="User Image">
		        </div>
		        <div class="pull-left info">
		          <p>Ahmad F.A</p>
		          <!-- Status -->
		          <a href="#"><i class="fa fa-circle text-success"></i> Administrator Absensi</a>
		        </div>
		      </div>

		      <!-- Sidebar Menu -->
		      <ul class="sidebar-menu">
		        <!-- Optionally, you can add icons to the links -->
		        {% autoescape off %}
		        {% for sb in dsb %}
		      			{% if sb.menu == "root" %}
		      				{% if sb.mode == "index" %}
		      					<li {% if request.path == "index" %} class="active" {% endif %}>
		      					<a href="{% url 'index' %}"><i class="{{ sb.icon }}"></i> <span>{{ sb.fungsi }}</span></a><ul>
		      				{% elif sb.mode == "alone" %}
		      					</ul></li><li class=""><a href="{% url sb.url_slug %}"><i class="{{ sb.icon }}"></i> <span>{{ sb.fungsi }}</span></a><ul>
		      				{% elif sb.mode == "divider-hr" %}
		      					</ul></li><li class="divider"><hr><ul>
		      				{% else %}
		      					</ul></li>
		      					<li class="treeview {% if sb.name == parent %}active{% endif %} ">
		      						<a href="#"><i class="{{ sb.icon }}"></i> <span>{{ sb.fungsi }}</span>
		      							<span class="pull-right-container">
							              <i class="fa fa-angle-left pull-right"></i>
							            </span>
							        </a>
							    <ul class="treeview-menu">
		      				{% endif %}
		      			{% else %}
		      				<li {% if module == sb.fungsi %}class="active"{% endif %}>{% if sb.url_slug != "" and sb.url_slug != "#" %} 
		      						<a href="{% url sb.url_slug %}"> 
		      					{% else %}
		      						<a href="#"> 
		      					{% endif %}<i class="{{ sb.icon }}"></i> <span>{{ sb.fungsi }}</span></a></li>
		      			{% endif %}
		      	{% endfor %}
		      	{% endautoescape %}
		      <!-- /.sidebar-menu -->
		    </section>
		    <!-- /.sidebar -->
		  </aside>